<%- include('../layouts/header.ejs') %>
<!-- <h3>Welcome, <%= user.name %> </h3>

<table width="50%">
    <tr>
        <td><img src="userImages/<%= user.image %>" width="100px" height="100px" alt="<%= user.image %>"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><%= user.email %> </td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td><%= user.mobile %> </td>
    </tr>
    <tr>
      
        <td>Verified</td>
        <td>
            <% if(user.is_verified == 1){
                %>
                <p>true</p>
                <%
            }
            %>
        </td>
    </tr>
</table>
<a href="/edit?id=<%=user._id%>">Edit</a>

<br>
<a href="/logout">logout</a> -->

<div class="cards" style="width:300px">
<div class="card" style="width: 22rem; height: fit-content ;background-color: lightslategray; color: #11306a; border-color: red;">
    <img src="/userImages/<%= user.image %>" class="card-img-top" alt="<%= user.image %>" width="100px" height="100px">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 30px;">User Profile</h5>
      <a href="/edit?id=<%= user._id %>" class="card-link" style="font-size: large; color: #11306a;">Edit</a>
    </div>    
      <li class="list-group-item" style="background-color: yellowgreen;">Email: <%= user.email %></li>
      <li class="list-group-item" style="background-color: yellowgreen;">Mobile: <%= user.mobile %></li>
      <li class="list-group-item" style="background-color: yellowgreen;">
        <tr>      
            <td>Verified:-</td>
            <td>
            <% if(user.is_verified == 1){
            %>
            <p>true</p>
            <%
            }
            %>
            </td>
        </tr>          
      </li>
   
    <div class="card-body">
      <a href="/logout" class="card-link" style="font-weight: bolder; font-size: larger;color: #11306a;">Logout</a>
    </div>
  </div>
</div>
  
<%- include('../layouts/footer.ejs') %>